<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
  <ion-label>FROM</ion-label>
  <ion-select [(ngModel)]="from" multiple="true">
    <ion-option>Bitcoin</ion-option>
    <ion-option>Ethereum</ion-option>
    <ion-option>Ripple</ion-option>
    <ion-option>Bitcoin Cash</ion-option>
    <ion-option>EOS</ion-option>
    <ion-option>Litecoin</ion-option>
	<ion-option>Cardano</ion-option>
	<ion-option>Stellar</ion-option>
	<ion-option>IOTA</ion-option>
	<ion-option>TRON</ion-option>
  </ion-select>
</ion-item>

  
  <ion-item>
  <ion-label>TO</ion-label>
  <ion-select [(ngModel)]="to" multiple="true">
    <ion-option>NEO</ion-option>
    <ion-option>Dash</ion-option>
    <ion-option>Monero</ion-option>
    <ion-option>NEM</ion-option>
    <ion-option>VeChain</ion-option>
    <ion-option>Ethereum Classic</ion-option>
	<ion-option>Tether</ion-option>
	<ion-option>Qtum</ion-option>
	<ion-option>OmiseGO</ion-option>
	<ion-option>ICON</ion-option>
  </ion-select>
</ion-item>
  
 <button ion-button color="danger" side="right" round>Convert</button>
 
 <ion-input type="text" placeholder="0" name="display" [(ngModel)]="result"></ion-input>
 

    <div id="calculator-container6">
        <button id="calculator-button10" ion-button (click)="btnClicked('7')"> 7 </button>
        <button id="calculator-button11" ion-button (click)="btnClicked('8')"> 8 </button>
        <button id="calculator-button12" ion-button (click)="btnClicked('9')"> 9 </button>
    </div>

    <div id="calculator-container7">
        <button id="calculator-button14" ion-button (click)="btnClicked('4')"> 4 </button>
        <button id="calculator-button15" ion-button (click)="btnClicked('5')"> 5 </button>
        <button id="calculator-button16" ion-button (click)="btnClicked('6')"> 6 </button>
    </div>

    <div id="calculator-container8">
        <button id="calculator-button18" ion-button (click)="btnClicked('1')"> 1 </button>
        <button id="calculator-button19" ion-button (click)="btnClicked('2')"> 2 </button>
        <button id="calculator-button20" ion-button (click)="btnClicked('3')"> 3 </button>
    </div>

    <div id="calculator-container9">
        <button id="calculator-button22" ion-button (click)="btnClicked('0')"> 0 </button>
        <button id="calculator-button23" ion-button (click)="btnClicked('.')"> . </button>
        <button id="calculator-button1" ion-button color="danger" (click)="btnClicked('C')"> C </button>
    </div>
 
</ion-content>